body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color:#434455;
    background-color: #FFFFFF;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
img {
  display: block;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
}
.container { 
  max-width: 1158px; 
  margin: 0 auto;
  padding: 0 15px;
  }
.container-header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
}
.navigations {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.link-nav {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  padding-left: 1.5px;
  margin-right: 76px;
}
.nav-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}
.link-nav-detal {
  color: #2e2f42;
}

.link-nav-list {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.link-nav-list-item {
  position: relative; 
  text-decoration: none; 
  color: #2e2f42;; 
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav-list:first-child .link-nav-list-item {
  color: #404bbf;
}
.link-nav-list-item:hover {
  color: #404bbf;
}
.link-nav-list-item:focus {
  color: #404bbf;
}
.active {
  #404bbf;
}
.link-nav-list:first-child .link-nav-list-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  color: #404bbf; 
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.address {
  font-style: normal;
}
.address-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}
.address-list-item {
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-list-item-link {
  text-decoration: none;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-item-link:hover {
    color: #404bbf;
  }
.address-list-item-link:focus {
    color: #404bbf;
  }

.section {
  padding: 120px 0 120px 0;
}

.main-button {
  max-width: 1440px;
  padding: 188px 0;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
  url(../images/people-office.jpg);
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
}
.button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  boder: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404BBF;
}
.button:focus {
  background-color: #404BBF;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.advantage-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-title-list {
 list-style-type: none; 
 display: flex;
 gap: 24px;
}
.advantage-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: calc((100% - 72px) / 4);

}
.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  padding: 24px 100px 24px 100px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
.advanteges-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advanteges-list-text {
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
margin: 0;
}
.our-team {
  background-color: #F4F4FD;
  padding: 120px 0;
}
.container-team {
width: 1140px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-title-list {
  list-style-type: none; 
  color: #FFFFFF;
  display: flex;
  gap: 24px;
}
.team-list {
  background-color: #FFFFFF;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-foto-item {
  background: url("path_to_image");
}
.name-worker {
  padding: 32px 0;
}
.team-name-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin: 0;
  
}
.team-soc-list {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 24px;
}
.team-soc-list-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}
.team-soc-icon {
fill: #f4f4fd;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px; 
}
.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cover-block {
position: relative;
overflow: hidden;
}
.portfolio-cover-text {
position: absolute;
background-color: #4d5ae5;
color: #f4f4fd;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.02em;
top: 0;
left: 0;
height: 100%;
width: 100%;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-item-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}
.footer {
 background-color: #2e2f42; 
 padding: 100px 0;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
.footer-block {
  display: flex;
  flex-direction: column
  ;
}
.container-footer {
  flex-direction: column;
  margin-right: 120px;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}
.footer-logo-item {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-bottom: 16px;
  
}
.footer-social-block {
  width: 208px;
  height: 80px;
  display: flex;
  flex-direction: column;
  margin: o auto;
}
.footer-social-tekst {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  max-width: 208px;
}
.footer-social-list {
  list-style-type: none; 
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 16px; 
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  padding: 8px 8px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: #f4f4fd;

}
